body {
    /* background-color: rgb(0, 255, 255); */
    background-color: aliceblue;
    font-family: 'Arial', 'Times New Roman', Times, serif;
    /* font-family: 'Calibri', sans-serif; */
    color:rgba(1, 55, 204, 0.822);
}
/* #brand{
    font-size: 20px;
} */

.logo{
    /* background-color: red; */
    align-content: center;
}

a:link{
    text-decoration: none;

}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: blue; */
    width:100%;
}

.navbar {
    /* display: flex; */
    width: 90%;
    padding:1%;
    /* background-color: red; */
    margin: auto;
}

.navbar .signup a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navbar .signup i {
    margin-right: 8px; /* Adjust spacing as needed */
    flex-wrap: wrap;
}


.navbar ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    list-style-type: none;
    /* background-color: red; */
    /* justify-content: center; */
    list-style-type: none;
    text-decoration: none;
    align-content: center;
    align-items: center;
}

.navbar li{
    padding:1%;
    flex-wrap: wrap;
    /* font-size: 25px; */
}
@media (max-width: 600px) {
    .navbar li {
        flex: 1 0 100%;
        justify-content: flex-start;
    }
}


.navbar a:hover {
    
    color: blue;
    
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgba(1, 34, 128, 0.822);
    /* text-shadow: 2.5px 2.5px rgb(173, 196, 230); */
    font-family: 'Arial', 'Times New Roman', Times, serif;
}

h2  {
    text-align: center;
    color: rgba(1, 55, 204, 0.822);
    font-family: 'Arial', 'Times New Roman', Times, serif;
    /* color: rgba(24, 172, 209, 0.822); */
}
.getHerc{
    text-align: center;
}

.getHercBtn{
    width: 230px;
    height:50px;
    color:white;
    text-shadow: 1.3px 1.3px black;
    background-color:rgba(96, 1, 204, 0.822); ;
    border-radius: 50px;
    font-size: 20px;
    transition: transform .5s;
    /* font-family:'Calibri', sans-serif; */
}

.getHercBtn:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.495);
  
}
h3 {
    text-align: center;
    font-size: 25px;

}
h3 div{
    font-size: 30px;
    color: rgba(0, 25, 94, 0.822);
}

h3 p{
    flex-basis: 0%;
    padding:3%;
    margin:auto;

}
#why{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgba(1, 55, 204, 0.822);

}
.minicap{
    display:flex;
    justify-content: center;
    color: rgba(1, 34, 128, 0.822);
    /* background-color: red; */
    align-items: center;
    /* width:clamp(200px,45%,400px); */
    padding:1%;
    font-size: clamp(10px, 15px, 30px);
}

.minicap div{
    display: flex;
    padding:20px;
    align-items: center;
    /* border:1px solid black; */
    width:15%;
    justify-content: center;
    
}

.minicap div p{
    padding:2%;
}

.minicapicons{
    margin-left:1%;
}
.mainpic{
    width:100%;
    text-align: center;
    /* width:clamp(200px, 45%, 500px); */
    /* border-radius: 120px; */
    /* background-color: rgb(15, 227, 255); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 187, 255) 50%, rgba(255, 255, 255, 0) 100%);

}

.mainpicimg{
    max-width: 100%;
    width: clamp(100px, 900px, 900px);
    height: auto;
}

.multicont {
    /* background-color: rgb(15, 227, 255); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 187, 255) 50%, rgba(255, 255, 255, 0) 100%); */
    border-radius:10px;
    color: rgba(1, 34, 128, 0.822);
    width: 100%;
    max-width: 100%;
    display: flex;
    
}


.multi{
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    padding:0%;
    /* height:60vh; */
    margin-top: 2%;
    margin:auto;
    width:90%;
    /* width:50vw; */
    /* background-color: brown; */
    /* background-color: rgb(9, 140, 255); */
}

.multi > h3 {
    /* background-color: rgb(15, 227, 255); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 187, 255) 50%, rgba(255, 255, 255, 0) 100%); */
    border-radius:10px;
    color: rgba(1, 34, 128, 0.822);
    width: clamp(20%,500px,60%);
    /* max-width: 100%; */
    /* margin-left: 2%; */
    padding:1%;
    height:100%;
    text-align: center;
    /* background-color: red; */
    /* margin: auto; */
    /* flex:.3; */
}

.multi p {
    padding: 1px;
    font-size:18px;
    line-height: 220%;
    text-align: left;
    font-weight: 90;


}


.multitab1{
    /* text-align: center; */
    width:clamp(0, 20%, 900px);
    /* background-color: blue; */
    /* margin: auto; */
    /* flex:1; */
    /* width:40%; */
    margin-right: 10px;
    
}
.multitab{
    width:700px;
   
    /* width: clamp(0, 500px, 900px); */
}

@media (max-width: 600px) {
    .multitab1 {
        flex: 1 0 100%;
    }
}

.mcTitle{
    font-size: 30px;
    font-weight: 350;
    margin-bottom:4%;
}


.per{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width:clamp(300px,70%,100%);
    
}

.per h3{
    width:25%;
    padding:2%;
    flex-wrap:wrap;
    /* text-align: left; */
    /* background-color: red; */
}

@media (max-width: 600px) {
    .per h3 {
        flex: 1 0 100%;
    }
}

.per p {
    font-size: 18px;
    
    font-weight: 90;
    color: rgba(1, 34, 128, 0.822);
    text-align: left;
}

.signup {
    display:flex;
    margin-left:auto;
    /* background-color: red; */
    justify-content: center;
    width:20%;
    color:rgba(1, 55, 204, 0.822);
}

.signup li{
    padding: 4%;
}

.signup a:hover {
    
    color: blue;
    
}
/* .multitab1{
    width:100%;
} */


@media (max-width: 600px){
    #tablet {
        display: none;
        
    }
}

/* .signbar{
    width: 20%;
}
.signbar li{
    padding:1%;
}
.signbar ul {
    display: flex;
    font-size: 20px;
    /* background-color: red;
    padding:1%;
    text-decoration: none;
    list-style-type: none;
} */

#why {
    font-size: 35px;
}

/* FOOTER */

footer{
    width:50%;
    margin:auto;
    text-align:center;
}

.footerVPN{
    color:rgb(5, 5, 207);
}

.fContainer{
    display: flex;
    /* background-color: rgb(0, 38, 255); */
    justify-content: center;
    color:rgb(0, 73, 116);
}

.fFlexlogo{
    /* display: flex; */
    align-content: center;
    /* justify-content: right; */
    font-weight: bold;

}

figcaption{
    font-size: 15px;
}

.socials {
    padding: 6%;
    padding-left:3%;
}
.alert{
    color: brown;
    text-align: center;
    margin: auto;
    width:25%;
    font-size: 25px;
}


