{% extends "layout.html" %}
    
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="./images/icons/favicon.ico">
{% endblock %}

{% block content %}

        <h1> Plans and pricing for everyone.</h1>

            <div class="minicap">
                <div><img src="{{ url_for('static', filename='images/icons/Flag_of_Switzerland_(Pantone).svg.png') }}" height="30px" alt=""><p>Swiss Based</p></div><div> <img class="minicapicons" src="{{ url_for('static', filename='images/icons/file-4.png') }}" height="30px" alt=""><p>30-day money back guarantee</p></div><div><img src="{{ url_for('static', filename='images/icons/privacylogo.png') }}" height="30px" alt=""><p>Strict no-logs policy</p></div>
            </div>

            <div class="priceboxes">
                <div class="pricing1">
                    <p></p>
                    <div>
                    <p>1-month plan</p>
                    <p>$9.99/month</p>
                    </div>
                    <button type="button">Buy 1 month</button>
                    <hr>
                    <p class="billnote">Billed $9.99 every month.</p>
                </div>

                <div class="pricing2">
                    <p></p>
                    <p>1-year plan</p>
                    <p>$4.99/month</p>
                    <button type="button">Buy 1 year</button>
                    <hr>
                    <p class="billnote">Billed at $59.88 for the first year.</p>
                </div>

                <div class="pricing3">
                    <p></p>
                    <p>2-year plan</p>
                    <p>$4.49/month</p>
                    <button type="button">Buy 2 years</button>
                    <hr>
                    <!-- <br> -->
                    <p class="billnote">Billed at $107.76 for the first two years.</p>
                </div>
                

            </div><br><br>
{% endblock %}